.noselect {
    user-select: none; /* Para navegadores modernos */
    -webkit-user-select: none; /* Para Safari */
    -moz-user-select: none; /* Para Firefox */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
}

svg {
    padding: 20px;
}

.container {
    border-radius: 8px;
    box-shadow: 0px 1px 3px #777;
    margin: 0px;
    padding: 0px;
}

.footer {
    margin-top: 16px;
    padding: 8px 16px;
}

body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    height: 100vh;         /* Define altura total da janela */
    margin: 0;             /* Remove margens do body */
}
